
    
.banner{
            position: relative;
            height: 35vh;
            width: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.5));
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Domingo_de_juegos_de_mesa_con_mi_hijo._%2816510706356%29.jpg);
            background-size: cover;
            background-position: center center;           
}
        
.banner .banner-info{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: auto;
            text-align: center;
}
        
.banner .banner-info h1{
            position: relative;
            font-size: 2.5rem;
            color: black;
            font-family: Bubblegum Sans, cursive;
}
    
